
#configuration
servicePath=#where your msedgedriver is
filePath=#where your html file is
htmlLocation=#your website url

#vinted scraper
phoneNumber=#phone number to send the message to

#instagram scraper
usernameValue=#instagram username
passwordValue=#instagram password
