click==8.3.1
colorama==0.4.6
psycopg==3.3.3
psycopg-pool==3.3.0
results==1.4.1770293316
typing_extensions==4.15.0
tzdata==2025.3
pywhatkit
datetime
requests
selenium
dotenv
pandas
random
time
bs4
csv
os